.profile__info {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 18px;
}

@media screen and (max-width: 920px) {
    .profile__info {
        grid-template-columns: 28px auto 28px;
        grid-template-rows: 26px auto;
        grid-template-areas:
        "emp1 name edit"
        "emp2 job emp3";
        margin: 26px auto 34px auto;
        max-width: 282px;
        flex-wrap: wrap;
        column-gap: 0;
    }
}