.profile__image-container {
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 30px 0 0;
    padding: 0;
}

@media screen and (max-width: 920px) {
    .profile__image-container {
        margin: 0 auto 0 auto;
    }
}